__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pythonlibs/
.uv/
pip-log.txt
pip-delete-this-directory.txt
.venv
venv/
ENV/
env/
.env
app/static/
instance/
*.db
.DS_Store
*.log
static/uploads/*
!static/uploads/.gitkeep
